/*
    CSS: Cascading style sheets
*/

.title {
    font-size: 50px;
    font-weight: 700;
}
section#principais-estilos {
    background-color: black;
    color: white;
}

#principais-estilos .paragrafo {
    font-size: 22px;
    color: yellow;
    line-height: 1.2;
    font-family: monospace;
    font-weight: bold;
}